.notification {
    display: none;
    background-color: lightblue;
    padding: 5px;
    border: solid 3px green;
    color: green;
    border-radius: 5px;
    font-size: 20px;
}

.success {
    display: block;
}

.error {
    display: block;
    border-color: red;
    color: red;
}

.blogEntry {
    border: solid 2px black;
    margin: 5px;
    margin-left: 0x;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 2px;
}